{% extends 'base.html' %}


{% block content %}
<section class="section-content padding-y">

    <!-- ============================ COMPONENT REGISTER   ================================= -->
        <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
          <article class="card-body">
            {% include 'includes/alerts.html' %}
            <header class="mb-4"><h4 class="card-title">Cadastre-se</h4></header>
            <form action="{% url 'register' %}" method="POST">
              {% csrf_token %}
                
                    <div class="form-row">
                        <div class="col form-group">
                            <label>Nome </label>
                              {{ form.first_name }}
                        </div> <!-- form-group end.// -->
                        <div class="col form-group">
                            <label>Sobrenome</label>
                            {{ form.last_name }}
                        </div> <!-- form-group end.// -->
                    </div> <!-- form-row end.// -->
                                       
                    <div class="form-row">
                        <div class="form-group col-md-6">
                          <label>E-mail</label>
                          {{ form.email }}
                          
                        </div> <!-- form-group end.// -->
                        <div class="form-group col-md-6">
                          <label>Telefone</label>
                          {{ form.phone_number }}
                        </div> <!-- form-group end.// -->
                    </div> <!-- form-row.// -->
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Criar senha</label>
                            {{ form.password }}
                        </div> <!-- form-group end.// --> 
                        <div class="form-group col-md-6">
                            <label>Repetir senha</label>
                            {{ form.confirm_password }}
                        </div> <!-- form-group end.// -->  
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block"> Cadastrar  </button>
                    </div> <!-- form-group// -->      
                        {{ form.email.errors }}
                        {{ form.non_field_errors }}
                </form>
            </article><!-- card-body.// -->
        </div> <!-- card .// -->
        <p class="text-center mt-4">Já possui conta? <a href="{% url 'login' %}">Login</a></p>
        <br><br>
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->
    
    
    </section>

{% endblock %}